In [3]:
import numpy as np

In [4]:
a = np.array([1,23,4,1]) # creating 1 dimensional array
print(a)

[ 1 23  4  1]

In [5]:
a.shape

(4,)

In [6]:
a.ndim

1

In [7]:
# creating 2 dimensional array
b = np.array([[1,2],[4,5]])
print(b)

[[1 2]
 [4 5]]

In [8]:
b.shape

(2, 2)

In [9]:
b.ndim

2

In [10]:
# creating 3 dimensional array or tensor
c = np.array([[[2,4],[6,8],[9,10],[56,43]]])
print(c)

[[[ 2  4]
  [ 6  8]
  [ 9 10]
  [56 43]]]

In [11]:
print(c.shape)

(1, 4, 2)

In [12]:
c.ndim # check which dimensional array is

3

**Structured array**

In [14]:
# creating structured arrays - records are on the form of rows and columns
dtype = ([('id','i4'),('name', 'U10'),('marks','f8')])
d1 = np.array([(1,"mohini",6.7),(2,"bhargavi",7.8),(3,"gauri",8.9)],dtype=dtype)

print(d1['name'][1]) # accessing the feature via column name and row index

bhargavi

In [15]:
print(d1) # accessing all the elements of the structured array

[(1, 'mohini', 6.7) (2, 'bhargavi', 7.8) (3, 'gauri', 8.9)]

In [16]:
# accessing the columns in structured array
print(d1['id'])
print(d1['name'])
print(d1['marks'])

[1 2 3]
['mohini' 'bhargavi' 'gauri']
[6.7 7.8 8.9]

In [17]:
# will show datatypes of each column
print(d1.dtype)

[('id', '<i4'), ('name', '<U10'), ('marks', '<f8')]

In [18]:
# for creating zeros array
d = np.zeros((2,3))
d

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
d.ndim

2

In [20]:
d.shape

(2, 3)

In [21]:
# want to create array have value only 1
e = np.ones((3,5))
print(e)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

**Identity matrix creation**

In [23]:
f = np.eye(3) # creating identity matrix
print(f)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [24]:
# creates an array with evenly spaced values specified in range
g = np.arange(1,10,2)
print(g)

[1 3 5 7 9]

In [25]:
# creates array of evenly spaced numbers(specified interval - (displays in float))
h = np.linspace(0,2,5) 
print(h)

[0.  0.5 1.  1.5 2. ]

In [26]:
# specified number of elements
h.size

5

# Assignment 1

1. create a 2D array of shape(3,4) filled with all ones

In [28]:
m = np.ones((3,4))
print(m)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

2. create 1D numpy array with values from 10 to 50 with a step of 4

In [30]:
n = np.arange(10,50,4)
print(n)

[10 14 18 22 26 30 34 38 42 46]

3. create a 4x4 identity matrix

In [32]:
p = np.eye(4)
print(p)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

4. create an array with 5 values evenly spaced between 0 and 1

In [34]:
q = np.linspace(0,1,5)
print(q)

[0.   0.25 0.5  0.75 1.  ]

5. create a 1d numpy array with values from 10 to 50 with a step of 5

In [36]:
r = np.arange(10,50,5)
print(r)

[10 15 20 25 30 35 40 45]

6. create a 3x3 array with random integers between 10 and 99

In [67]:
# random number methods
u = np.random.rand(5)
print(u)

[0.98688649 0.79579984 0.94687855 0.50223094 0.05595777]

7. create an array of shape(2,3) filled with zeros and another filled with sevens

In [41]:
s = np.zeros((2,3))
print(s)
# full - create an array of fiven shape and fills with specified values
t = np.full((2,3),7)
t

[[0. 0. 0.]
 [0. 0. 0.]]

array([[7, 7, 7],
       [7, 7, 7]])

8. create an array with values from 1 to 12 and reshape it to a 3x4 matrix

In [44]:
t = np.arange(1,13)
print(t)
# t= np.reshape((3,4))
re_shape = t.reshape(3,4)
print(re_shape)
re_shape.shape

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

(3, 4)

9. create a 2D array of shape(5,2) and display
- number of dimensions
- shape
- total number of elements
- data type

In [47]:
arr = np.array([[2,4],[5,6],[7,6],[8,7],[9,0]])
print(arr)
# number of dimension
arr.ndim

[[2 4]
 [5 6]
 [7 6]
 [8 7]
 [9 0]]

2

In [49]:
# shape
arr.shape

(5, 2)

In [51]:
# number of elements
arr.size

10

In [53]:
# datatype
arr.dtype

dtype('int32')

10. create a 2D array and access:
- the first row
- the second column
- the last element

In [56]:
array_2d = np.array([[1,2],[3,4]])
print(array_2d)

[[1 2]
 [3 4]]

In [58]:
# first row
array_2d[0]

array([1, 2])

In [60]:
# second column
array_2d[1]

array([3, 4])

In [62]:
# last element
array_2d[(1,1)]

4

In [74]:
#np.random.randint() - generates an array of the given size and the numbers in th range

c = np.random.randint(10,99,(3,3))
print(c)

[[74 70 71]
 [70 12 79]
 [33 25 74]]

In [76]:
d = np.random.randn(3,3)
d

array([[ 1.38367584, -0.84621962, -1.46143637],
       [ 1.66946613, -0.48554976,  0.99501809],
       [-1.08450996, -0.05293416,  0.66383823]])

In [78]:
e = np.random.randn(7) + 10 # 10 is mean
print(e)

[ 9.47584714 11.34359749  9.76538072 10.29946191  9.61805032 11.74707948
 11.07018407]

In [90]:
# mathematical operations of array

# np.sum() - returns the total(sum) of all the elements

f = np.array([2,4,6,8])
print(f)
print(np.sum(f))

# np.mean() - return the mean(average) of all the items in the array
print(np.mean(f))

# np.std() - returns the standard deviation of all the items in the array
print(np.std(f))

# np.max and np.min
print(np.max(f))
print(np.min(f))

# np.argmin and np.argmax - retuens the index value of max and min values
print(np.argmin(f))
print(np.argmax(f))

[2 4 6 8]
20
5.0
2.23606797749979
8
2
0
3

**Array manipulation**

In [116]:
g = np.array([78,1220,30,40,67,40,50,123,145,654,678])
print(g)

# np.sort() - returns sorted values in the array
print(np.sort(g))

# np.unique() - returns an array with sorted and unique elements
print(np.unique(g))

h = np.array([45,65,78,10,33,98])
print(h)

# np.concatenate() - returns the merged arrays , can join two or more than two arrays
i= np.concatenate((g,h))
print(i)
print(np.sort(i))

[  78 1220   30   40   67   40   50  123  145  654  678]
[  30   40   40   50   67   78  123  145  654  678 1220]
[  30   40   50   67   78  123  145  654  678 1220]
[45 65 78 10 33 98]
[  78 1220   30   40   67   40   50  123  145  654  678   45   65   78
   10   33   98]
[  10   30   33   40   40   45   50   65   67   78   78   98  123  145
  654  678 1220]

# Assignment 2

1. create 1D array of numbers from 0 to 9

In [16]:
import numpy as np

In [18]:
a = np.arange(0,10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

2. find the mean , median,standard deviation and sum of elements in an array

In [21]:
print(np.mean(a))

4.5

In [23]:
print(np.median(a))

4.5

In [25]:
print(np.std(a))

2.8722813232690143

In [27]:
print(np.sum(a))

45

3. Find the maximum and minimum values in an array and their indices.

In [30]:
print(np.max(a))

9

In [32]:
print(np.min(a))

0

In [34]:
print(np.argmax(a))

9

In [36]:
print(np.argmin(a))

0

4. Generate a 1D array of 10 random integers between 1 and 100.

In [68]:
b = np.random.randint(1,100,(10))
print(b)

[35  1 79 65 69 63 12 42 97 84]

5. Create a 3x3 array of random floats.

In [75]:
c = np.random.randn(3,3)
print(c)

[[ 0.08532143 -0.52942418  1.50070776]
 [-0.16199814  0.29386741 -1.87446695]
 [ 0.91045522  0.91023321  1.08472124]]

6. Generate 1000 samples from a normal distribution and compute mean and std.

In [86]:
d = np.random.randint(1,5000,(1000))
print(d)

[1331  620 1898 2033  682  698 3698 2202  678 2289 4589 4160 3541 4317
  426 4668 2270 1705 3706  171 3506 4168 4352 4483 2707 2380 3955 2859
 1233 1270 4508  410 3818 4415 3710 1113 1781 2462 3883 3161 4952 1275
 1709 2497  720 2793 4540 3767 1636 2922   61 3632 3892 2189 4471 1340
 1500 4945 4118 4539 4267 1320 3328 1151 2822 4708 4523 1595 2425  146
 2592 3644 4197 1725  554  129 1189  649 1523 4463 1701 1204 4794 3203
 3949 1200 2891  129  918 2387 4266 1794 1361 4164 1837 3637 2438 1555
 4290 3544  680 4170    4 2413 3131  877 3344 3947 2209 2825 4193 1594
  675 1330 3364 4422 4398 2603 2480 1817 1540 3146 3232 3274 2963 2825
 3915 1120 3254  441  511 1746 1428 2833 2260 2467 1997 3015 4528 3689
  630 2963 2500 1362 1917  679 2129 3776 3633 2414  382  497 4517  884
 2413  543   49 2017 4231 2957  335 3051 3910 3637 1997 2163 3882 2494
 2334 3935 2363 3355 1824  190 4513 4826 3383  258 4864  986 1182 2514
  266  704 3804  624 1032  877 1688 1913 3894  821 4806 2514 2969 3355
 3195 1972  151  740 4188 2742 2259 4932 4395  817  895  597 3781  976
 1377 3337  908 4276 3931  427  897 1918 2495 2481  993 3709  617 3066
 4255 3124   12  366 3569  552  897 1948 1895 2606 2376 4827 1155 3588
 4761  471 2673 3626  798  370  239  161 3395 3210 3458 2513 4108  715
 3654  977  489 1459 4513 1361 1735 1153  125 2433 4871  679  770 2112
  905 3795 2620 3915 3111 4586 3303 1637 4601 2303 1160 1512  799  587
 1426 1900 2218  310 3744 4639 3169 3349 4975 2779 3353 3916 4698 2912
   42 1839 4343  124 3305 2788 1011 3290  839 3118  456 1075  683 2775
 3208 2767 1452 3448  994 2918  956 3410 4004 3992 2305  790 3851 2708
 2505 3279 4090  932 4566 2757 1160 3968 2665  983  729  650 1729 3728
 1631   23  912  767   66 1574 2549  274  435 3695 1783 4471  519 2748
  177 1596 2012 3229 2474  885 1908 2699 3356 2218 3604 4961 2185  834
 4587 4594   89 3493 1477 2232 3250 3615 3317 3642 3510 1783 1594 3752
  421 3133 4730  567  190   66 4379 1907 2677 1768  229 4721 1134 3084
 1876 3426 4718 4742 1356 2844 2950   19 1731 3130 2612 1037 2242 2502
 1747 2630 1867 2680  256 2533  498 4165 2774  988 4902 3792 4097   69
 4941 1647 3590 1668 3104 4459 1053 2874  443 1493 1618 4552 1685 2295
  112 4947 3769 1075 2339 3594 4314 2995  348 3009 4893 1805 3501 3351
 2218 1283 4920 4545 1563 2300 1184  748  668 2984 1143 1092  779 4747
 1928 1748  390 2603 1187 4341  407 4946 3225 3135 3865 3918 1368 2170
 4942 3596 1413 1591  156 3117 1459  234  830 1948 4512  613 4141 2958
 4429 1463 1338 4817 3517 4420 2467 4146 1608 1391   69  671 3780   30
 4450 3022 1284 1140 2665 2102  110  722 1562 4772 2192 2440 4216 2372
 2082 4424  956 4768 4410 2754 1660 3848 4777 2645 1217 3782 4104 2608
  624 2977  943 3372 2803 3753  882  279  909   86 3983 1359 4040 3817
 1040 3652 3392 3621  112  350 4880 3118 3444 2729  566 1631 2458 2647
 1220  540 2168 2966  793  668 2738 4324 1351 2727 1727  205 4847 1546
  464 1034 4340 2717 3901 4589 3747 3551 1499 4999 4382  554 1959 4512
 1634 1167 4257  436  531 1584 1726 4548 1640 4227 1943 1739  972 1239
 4287  669  674  402 4012 2436 4792 3240 2555  487  615  803  876 4206
 2427   90  712 3334 1812 1943  476  556 1612 4785 3488  246 3378  980
 3577 2985  152 2043 2570 2094  589   90 1006 1092 3003 4878 2068  148
 3475 1988 3574   78 1930  747 2084 4210  562 3478 1325 4547 4596 1861
 3186 2617 2734 4784 4754 2042 4396 4643  263  234 3882 4799  696 3898
 2632 3270 3121 2888 4944 3194 4912 3209 2475 1375   63 2232  367  860
 3710 3421 3381 3493  523 4843 4871 2761  312 3817 2512   51  912 4320
 1586 4017 4847 4665 4427   47  882  884 3342 4303  422 3514 4170  982
    9 2838  810 2427  581  377 3209 2689 2725  888 4786 3563 3755 1419
  222 3548 2788 4121 2234 3363  615  345 4119 3859 1667 3819 2360  661
  371 1244 1765 2088  980 3375 4607   54  166 1725 2243 4936 4590 4093
 4249 3686 4468 4084 2086 2408 3198 1324 3848  200 1867 1484 4263 4423
 2414  636 3874 1196 3500  168 1405 2459  206 4797 4287  988 1802 1037
 4920 2182 2219 4469  866 2236 4025 2210 3586 1506 1318  666 3325 1058
 3145 1459  147 2817 1323 3279 4825 4245  696  701 4247   39 4218 4645
 4132 1812 4214 1952 3707 1873 2551  971 3381 3547 1687 3837 4441 2463
 1942 1559 2684 3938 4473 4423 4244 4671 2236 4418 1581 1116 4842 1216
 3776 1787   99 4112 1859 1674  304 2010 1079 2791 4222 2495 3124  881
 1079 2610 3006 3807 3057  290 1267 1298  104  914  141 2223  878  888
 3371 3992 3672 2729 3735 4653 1710 1553 3910 2944 3329 3678 1060 2643
 3604  751 1469 3096  332 3785 1099 3763 2208 4462 1941 4141 2803 1641
 1332 3185 3464  255 3379 2353 3318  758 2326 1336 4467  511 4688 1019
 3866 2207 3018 3707 3889 1313 3138 2880  575 2854  604 2142 4462 4661
 2746 3763 1637 1018 1197 4258  411  378 2054 2143 3747 3761 2085 4099
 2515 4750 4652 4248  837 4710 1628 3642  918  777 2003 4653 4936  996
 3016 2710 1964 3574 2036 1661 1628 1620  620  537  439  111 3862 3056
 1974 1085 2108 2035 4297 4432 1758 3334 4382 4416   70 4849  110 2444
 4567 3238 4723 3160 4118 3479 1427 1557 2972 1036 4212 3693  587  345
 3220  873 4367   65 2799 4430]

In [88]:
print(np.mean(d))

2438.929

In [90]:
print(np.std(d))

1458.5772409985698

7. Get unique values from an array and their counts.

In [93]:
e = np.array([11,23,11,45,32,65,78,21,55,65,87,90,21])
print(e)

[11 23 11 45 32 65 78 21 55 65 87 90 21]

In [95]:
print(np.unique(e))

[11 21 23 32 45 55 65 78 87 90]

8. Generate a 2D array of shape (5, 5) from a normal distribution with mean=50 and std=10.

In [108]:
f = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]])
print(f)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [110]:
f.shape

(5, 5)

In [112]:
print(f + 50)

[[51 52 53 54 55]
 [56 57 58 59 60]
 [61 62 63 64 65]
 [66 67 68 69 70]
 [71 72 73 74 75]]

In [114]:
f + 10

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35]])

9. create a numpy array of even numbers between 2 and 20

In [120]:
even = np.arange(2,20,(2))
even

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

10. Find the shape, size, and data type of the array a = np.array([[1, 2], [3, 4]]).

In [123]:
a = np.array([[1,2],[3,4]])
print(a)

[[1 2]
 [3 4]]

In [125]:
a.shape

(2, 2)

In [127]:
a.size

4

In [137]:
a.dtype

dtype('int32')

11. Generate a 1D array of 5 random numbers between 0 and 1.

In [152]:
g = np.random.randint(0,1,(5))
print(g)

[0 0 0 0 0]

In [154]:
g = np.random.rand(5)

In [156]:
g

array([0.39782965, 0.1441615 , 0.62040466, 0.33517896, 0.39359235])

12. Find the maximum, minimum, and sum of elements in the array [5, 8, 2, 9, 1].

In [159]:
h = np.array([5,8,2,9,1])
print(h)

[5 8 2 9 1]

In [161]:
print(np.max(h))

9

In [163]:
print(np.min(h))

1

In [165]:
print(np.sum(h))

25

13. Get the first 3 elements from the array [10, 20, 30, 40, 50].

In [170]:
array1 = np.array([10,20,30,40,50])
print(array1)

[10 20 30 40 50]

In [178]:
array1[:3]

array([10, 20, 30])