# **Numpy** (numerical python)
- It stand for numerical python.
- it is used for numerical computation
- it provide support for large multi-dimensional arrays and matrices along with a collection of highe-level mathematical function to operates on these arrays.

**features of NumPy**
1. **supports operation on N-dimensional arrays** - N-dimensional array also known as (n-D array) is a core data structure used in numpy for efficient storage and computation.
2. **numpy allows broadcasting** i.e. arithematic operation on arrays of different shapes.
3. **numpy also allow vectorization** i.e. eliminating needs for loops during operations on array.
4. Numpy provides built-in support for linear algebra, statistics, trigonometry calculation
5. numpy can be integrated with other python libraries like pandas, matplotlib, seaborn, scikit learn etc.

**Data structure in numpy**

- numpy primerily words with single core data structure. n-D array
1. **n-dimensional array**
- This can be of any (N) dimensions
- N-D array can represent vectors (1D array) matrices (2D array) or tensors (3-D array)
- N-D array are homogeneous which means all elements value in N-D array must be of same datatype
- this array are of fixed size , once created we cannot change size of array

2. **Structured array**
- These arrays are **heterogeneous** arrays i.e. used to handle , store data of different datatypes similar to SQL, dataframes in pandas
- allows accessing fields by name

3. **Masked arrays**
- These arrays are useful to deal with datasets containing missing values, invalid data or placeholder

4. **Metrix**

**datatypes used in structured arrays**

1. Datatype - ':' or **'i4'** , python datatype equivalent - **int** , example - ('num','i4')
2. Datatype - **'U10'** , python datatype equivalent - **str** , example - ('name','U10')
3. Datatype - 'f' or **'f8'** , python datatype equivalent - **float** , example - ('nums','f8')
4. Datatype -  **'bool'** , python datatype equivalent - **boolean** , example - ('accepted','bool')

**Vectors** (1-D array)
- vectors are one-dimensional array(1-D array) which stores data usually in list format

**Matrix(2-D tensor)**
- it is 2-D tensor that is arrays with rows and columns

**Tensor** (N-D array)
- tensor are arrays with 3 or more dimension

In [411]:
import numpy as np

In [412]:
print(dir(np))

['ALLOW_THREADS', 'BUFSIZE', 'CLIP', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'WRAP', '_CopyMode', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__deprecated_attrs__', '__dir__', '__doc__', '__expired_functions__', '__file__', '__former_attrs__', '__future_scalars__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_builtins', '_distributor_init', '_financial_names', '_get_promotion_state', '_globals', '_int_extended_msg', '_mat', '_no_nep50_warning', '_pyinstaller_hooks_dir', '_pytesttester', '_set_promotion_state', '_specific_msg', '_typing', '_using_numpy2_behavior', '_utils', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'dtypes', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exceptions', 'exp', 'exp2', 'expand_dims', 'expm1', 'expm1x', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'from_dlpack', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mask_indices', 'mat', 'matmul', 'matrix', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'show_runtime', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'vsplit', 'vstack', 'where', 'who', 'zeros', 'zeros_like']

In [413]:
a = np.array([1,23,4,1]) # creating 1 dimensional array
print(a)

[ 1 23  4  1]

In [414]:
a.shape

(4,)

In [415]:
a.ndim

1

In [416]:
# creating 2 dimensional array
b = np.array([[1,2],[4,5]])
print(b)

[[1 2]
 [4 5]]

In [417]:
b.shape

(2, 2)

In [418]:
b.ndim

2

In [419]:
# creating 3 dimensional array or tensor
c = np.array([[[2,4],[6,8],[9,10],[56,43]]])
print(c)

[[[ 2  4]
  [ 6  8]
  [ 9 10]
  [56 43]]]

In [420]:
print(c.shape)

(1, 4, 2)

In [421]:
c.ndim # check which dimensional array is

3

**Structured array**

In [423]:
# creating structured arrays - records are on the form of rows and columns
dtype = ([('id','i4'),('name', 'U10'),('marks','f8')])
d1 = np.array([(1,"mohini",6.7),(2,"bhargavi",7.8),(3,"gauri",8.9)],dtype=dtype)

print(d1['name'][1]) # accessing the feature via column name and row index

bhargavi

In [424]:
print(d1) # accessing all the elements of the structured array

[(1, 'mohini', 6.7) (2, 'bhargavi', 7.8) (3, 'gauri', 8.9)]

In [425]:
# accessing the columns in structured array
print(d1['id'])
print(d1['name'])
print(d1['marks'])

[1 2 3]
['mohini' 'bhargavi' 'gauri']
[6.7 7.8 8.9]

In [426]:
# will show datatypes of each column
print(d1.dtype)

[('id', '<i4'), ('name', '<U10'), ('marks', '<f8')]

In [427]:
# for creating zeros array
d = np.zeros((2,3))
d

array([[0., 0., 0.],
       [0., 0., 0.]])

In [428]:
d.ndim

2

In [429]:
d.shape

(2, 3)

In [430]:
# want to create array have value only 1
e = np.ones((3,5))
print(e)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

**Identity matrix creation**

In [432]:
f = np.eye(3) # creating identity matrix
print(f)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [433]:
# creates an array with evenly spaced values specified in range
g = np.arange(1,10,2)
print(g)

[1 3 5 7 9]

In [434]:
# creates array of evenly spaced numbers(specified interval - (displays in float))
h = np.linspace(0,2,5) 
print(h)

[0.  0.5 1.  1.5 2. ]

In [435]:
# specified number of elements
h.size

5

# Assignment 1

1. create a 2D array of shape(3,4) filled with all ones

In [438]:
m = np.ones((3,4))
print(m)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

2. create 1D numpy array with values from 10 to 50 with a step of 4

In [440]:
n = np.arange(10,50,4)
print(n)

[10 14 18 22 26 30 34 38 42 46]

3. create a 4x4 identity matrix

In [442]:
p = np.eye(4)
print(p)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

4. create an array with 5 values evenly spaced between 0 and 1

In [444]:
q = np.linspace(0,1,5)
print(q)

[0.   0.25 0.5  0.75 1.  ]

5. create a 1d numpy array with values from 10 to 50 with a step of 5

In [446]:
r = np.arange(10,50,5)
print(r)

[10 15 20 25 30 35 40 45]

6. create a 3x3 array with random integers between 10 and 99

In [448]:
# random number methods
u = np.random.rand(5)
print(u)

[0.04006703 0.22166935 0.33282465 0.15258563 0.55542331]

7. create an array of shape(2,3) filled with zeros and another filled with sevens

In [450]:
s = np.zeros((2,3))
print(s)
# full - create an array of fiven shape and fills with specified values
t = np.full((2,3),7)
t

[[0. 0. 0.]
 [0. 0. 0.]]

array([[7, 7, 7],
       [7, 7, 7]])

8. create an array with values from 1 to 12 and reshape it to a 3x4 matrix

In [452]:
t = np.arange(1,13)
print(t)
# t= np.reshape((3,4))
re_shape = t.reshape(3,4)
print(re_shape)
re_shape.shape

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

(3, 4)

9. create a 2D array of shape(5,2) and display
- number of dimensions
- shape
- total number of elements
- data type

In [454]:
arr = np.array([[2,4],[5,6],[7,6],[8,7],[9,0]])
print(arr)
# number of dimension
arr.ndim

[[2 4]
 [5 6]
 [7 6]
 [8 7]
 [9 0]]

2

In [455]:
# shape
arr.shape

(5, 2)

In [456]:
# number of elements
arr.size

10

In [457]:
# datatype
arr.dtype

dtype('int32')

10. create a 2D array and access:
- the first row
- the second column
- the last element

In [459]:
array_2d = np.array([[1,2],[3,4]])
print(array_2d)

[[1 2]
 [3 4]]

In [460]:
# first row
array_2d[0]

array([1, 2])

In [461]:
# second column
array_2d[1]

array([3, 4])

In [462]:
# last element
array_2d[(1,1)]

4

In [463]:
#np.random.randint() - generates an array of the given size and the numbers in th range

c = np.random.randint(10,99,(3,3))
print(c)

[[64 63 23]
 [48 79 32]
 [68 27 91]]

In [464]:
d = np.random.randn(3,3)
d

array([[ 0.03520985, -1.20115001, -1.06680852],
       [ 0.61541505,  0.74661017,  0.53749053],
       [-0.14583741, -0.15141796, -0.61613677]])

In [465]:
e = np.random.randn(7) + 10 # 10 is mean
print(e)

[10.70631496  9.99932085 10.12046609  8.88472696 10.19836664 10.00071189
 10.77303124]

In [466]:
# mathematical operations of array

# np.sum() - returns the total(sum) of all the elements

f = np.array([2,4,6,8])
print(f)
print(np.sum(f))

# np.mean() - return the mean(average) of all the items in the array
print(np.mean(f))

# np.std() - returns the standard deviation of all the items in the array
print(np.std(f))

# np.max and np.min
print(np.max(f))
print(np.min(f))

# np.argmin and np.argmax - retuens the index value of max and min values
print(np.argmin(f))
print(np.argmax(f))

[2 4 6 8]
20
5.0
2.23606797749979
8
2
0
3

**Array manipulation**

In [468]:
g = np.array([78,1220,30,40,67,40,50,123,145,654,678])
print(g)

# np.sort() - returns sorted values in the array
print(np.sort(g))

# np.unique() - returns an array with sorted and unique elements
print(np.unique(g))

h = np.array([45,65,78,10,33,98])
print(h)

# np.concatenate() - returns the merged arrays , can join two or more than two arrays
i= np.concatenate((g,h))
print(i)
print(np.sort(i))

[  78 1220   30   40   67   40   50  123  145  654  678]
[  30   40   40   50   67   78  123  145  654  678 1220]
[  30   40   50   67   78  123  145  654  678 1220]
[45 65 78 10 33 98]
[  78 1220   30   40   67   40   50  123  145  654  678   45   65   78
   10   33   98]
[  10   30   33   40   40   45   50   65   67   78   78   98  123  145
  654  678 1220]

# Assignment 2

1. create 1D array of numbers from 0 to 9

In [471]:
import numpy as np

In [472]:
a = np.arange(0,10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

2. find the mean , median,standard deviation and sum of elements in an array

In [474]:
print(np.mean(a))

4.5

In [475]:
print(np.median(a))

4.5

In [476]:
print(np.std(a))

2.8722813232690143

In [477]:
print(np.sum(a))

45

3. Find the maximum and minimum values in an array and their indices.

In [479]:
print(np.max(a))

9

In [480]:
print(np.min(a))

0

In [481]:
print(np.argmax(a))

9

In [482]:
print(np.argmin(a))

0

4. Generate a 1D array of 10 random integers between 1 and 100.

In [484]:
b = np.random.randint(1,100,(10))
print(b)

[34 39 70 50 94  7 64 26 15  7]

5. Create a 3x3 array of random floats.

In [486]:
c = np.random.randn(3,3)
print(c)

[[ 1.54512033  1.46689947 -1.05833106]
 [-1.09346539  1.65742719  0.31001678]
 [-1.70138941 -0.22288182 -1.51902722]]

6. Generate 1000 samples from a normal distribution and compute mean and std.

In [488]:
d = np.random.randint(1,5000,(1000))
print(d)

[4868  619  422 1321 4862  271 3540 4569 3580 4222  483 2875  879  606
 1933 2819 1036  378 1248  421 1055 4879 3276 4697  233 1129 1212 4391
 1010 1797 1587 3946 3015 1662 1410 3647 4722    8  770 4358 1356 4731
 3168 3115 1075 2909 1941 2377 4460 1029 2820 4592 3643 3339  809 4771
 3382  998 4737 4324 4106 3286 1723  675 1560 1896 2835   70 1131   39
 4921   26 3400 4379 4220  374 1677 4870 4321 3055  246 1449 1357 1136
   22 1684 1435 2338 2350 4109 1291 1562 3822 3405  580 1992 1152  983
 3531 1983 4996  343 2595 1712 1907 4886  896 1895 2515 1538  696 1608
 3211   44 3719 4324 4046 4118 4570 1366  393 3455 3599  674 4378 3838
  586 3306 4454 4038 4427 4550 3237 2387 3999 3578 2878 1259 2818 3973
 1111   87  156 2733 1614 2132 1333 3976 2199 4298 1065  816 2960 4098
 2069 4011   41 3997 1560  801 4862 2024 1940 2407 4735 1267  548 4737
 3720 3142 2498   63  533  622 3868 3661 3962 2173 2212 3520 4722  334
  287 3831 3958 1869 3863 2458 1484 3014 3561 1285  367  974  595 2839
 3784 3830 2859 2016  301 1938  670 1355 1502 4292  791  277  161 3581
  561 1424 1505 2775 1146 3116 2676   25 4399  413 3849 1606 1363 3953
 2153 2983 1196 1384 4377 3342 4872  378 2456  471 4993 4154 2742 1180
 4431 2143 1808 1889 1580 3194 3410 2955 3358 1827 1778 3693 4867 2650
 3168 2653  368 3644 3595 1991  156 2291 2036 1193 1214 2402 3693 2438
 4155  151  371 1461  988 2723 2305 3715 4967 1395   41  399 1616 4985
 1911 1968 3317 3915 4746 3634  624  679 4211 2509 1776 4772 3591 3869
  228 2883  631 4727 4951 4172 3081 1349 3620  650 4635 2017 1995 3684
 1328 3412 1187  964 2717   13 4647 2532 4964 4744 4582 4515  576 3534
 3971   48 2473 1852 2174 4323 4276 1939 1254  643 2364 2376 4990 4598
 2861  533 2737   79 1126 4741 3558 2365 1444 1818  239 1182  639 3679
 3850  579 4834 1619 2252 3085 4061 2855 2868 3011  867 3016   36  292
 2738 3233 2582 3805  507 4963  315 4545 4634 1485 4167 3776 3193 2923
 4577  370  363 2129 4077  224 3065 4520 1207 1232 1207 1567 3000 1254
 2834 2780  841  132  162 3507 2769 3518 4588  226  328 2261 4115  404
 4000 3241 2412 1312  803 2411 4188 1149 3024  929 3531 3190 3284   77
 4098  175 3594 1458 2342 3228 1862 2224 2962 3207 4608 3947 1263 3555
 2701  932  475 4512 1678 3652 2773 3489 2026  953 3083 1776 1814 2971
  929  242  650 1104 3746 4509 1477 1977 3387 1288 1664 4038 2365 4525
 1420 2276  355 3661 3147 3886 2943 2622 3952 3166 1963 1327 4035 4135
 3644 1049 3734 1729  429 4107  646 1103 4431 4384 1438  500 1460 2009
 2384 3075 1705 4816 4780 4215 1614 3320  950 4227 2419  696 4402 3833
 4378  157 1350 1467  814  257   73  682  843 2034 3685 4858 3380 4249
 1436 4910  834  970  373 4987 4671 2600 2237 4984  774  505 1306   25
 2597 4862 3012 1949 2864 4225 3217 2115  824 2709 3562 4728 1678 2158
 3231 3825 1739 2676  372 3942 2147 3528 4583 2544 4098 2680 3069 3114
 3424 3084 4202 3280 4454  585   66 2447 2167 1616 1829  322 2149 4064
 1408 1603  627 3031 3696 3190 4812 1895  704  450 2040 2894 3000  131
 1816 4775  365 4034 1775 3264  794 4373 1927 1664 3961 2630 3008  547
 4553 3883 4748 1085 4402 4155  513 2839 2260 4270 2749 3770 1124  330
 3678 4611   20  242 3421 4433 3204   46 2557 4656 3395 2723 3077 2977
   17 4965 1144 4920 2687 1509  594 4320  872 4550 2904   51 2963 4842
 3198 3905 4465 2472 1274 4832 4992 4640 2018 4214 3646 4568 1679 1593
 1193 1133 3917 1313  702 4885 4446 4426 4071 4260 3574 2449 2033 4860
 4861 2187 3407 2143 1911 4774  968  939 2348 4791 3686 3608 2529 4677
 3349 1540 1804   69 4422 2175 1335   55  360  456 4135 4729 4670  713
 4239 1941 1932 1205 2905 3960 3228 4234 4891 3688  376 1767 2377 1707
  151  705 3972  560  144 1086  336 2739 1160 1642 2256 3278 1625 3221
 4304  401 2607 1741 1988 4498 3272  315 1361 1076 1426 2559 2178  277
 4697 2672 2965 3397 2423  608 4785 3446 1753 1232 2521 3832 3597  361
 4157  494 3084 1119   69 1299 2510 1783 1716  501 4196 1546 1027  430
 2562 1904 4922  214 3407 3596  587 2504 2673 3928 3570  448 3202 2516
 1236 1292 4952 4229  955 4688 2865 3063 2613 4015   63 4200  890 1105
 1756 1938  351  614 2616 3095 2036 2250 1184 3807 4924  617 4590 2041
 1045 4045 3187 3929  483 4201 2838 4347  994 4583 1306 4488 2377  423
 2555 3959 2829 3230  917 4452 2921 2906  725 4565 1060 3827 4222 4044
 4040 3907 3903 1554 1622 1123 1935 1750 3601 2073 1029  793 1314 3009
 3147 4148 3688  457 3469 2875 3398 3798 2248 3105  182 4385  466 2503
  872 2113 3372 4447  110 3363 4739 4223  581 4243 2727 3704 3016 1809
  324  850 4468 3791 3047  735 4432 4215 3738 2211 4243 2789 4702 1809
 4066  582 3191 1863 4171 4485 3432 3058 4160 3375 3430 3754 3559  994
  556 1871 2707 1794 4692 2134 1360 4300 1499 1342 2428 1225 2914 2144
 4178 1876 3373 4148 3990 3969 2074  377 2885 4504 2844 2361 2026   98
 4258 4097 1009 3432  634  626   87  854 4079 3126 1308 4368 2948 1029
 3424 3567 4034 2655  708 4511 1010 1885 2813  708 4805 4007 1269 2095
 4293 4038  440 4233 2153 3477 4450 2370  442  599 3486 1011   49 1985
 1368 4902 4819 1108 2134 2274 1038  787 3071 3991  122 4982  566 2600
 2387 2046 1268  279 1443 2605]

In [489]:
print(np.mean(d))

2499.578

In [490]:
print(np.std(d))

1472.470317499134

7. Get unique values from an array and their counts.

In [492]:
e = np.array([11,23,11,45,32,65,78,21,55,65,87,90,21])
print(e)

[11 23 11 45 32 65 78 21 55 65 87 90 21]

In [493]:
print(np.unique(e))

[11 21 23 32 45 55 65 78 87 90]

8. Generate a 2D array of shape (5, 5) from a normal distribution with mean=50 and std=10.

In [495]:
f = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]])
print(f)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [496]:
f.shape

(5, 5)

In [497]:
print(f + 50)

[[51 52 53 54 55]
 [56 57 58 59 60]
 [61 62 63 64 65]
 [66 67 68 69 70]
 [71 72 73 74 75]]

In [498]:
f + 10

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35]])

9. create a numpy array of even numbers between 2 and 20

In [500]:
even = np.arange(2,20,(2))
even

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

10. Find the shape, size, and data type of the array a = np.array([[1, 2], [3, 4]]).

In [502]:
a = np.array([[1,2],[3,4]])
print(a)

[[1 2]
 [3 4]]

In [503]:
a.shape

(2, 2)

In [504]:
a.size

4

In [505]:
a.dtype

dtype('int32')

11. Generate a 1D array of 5 random numbers between 0 and 1.

In [507]:
g = np.random.randint(0,1,(5))
print(g)

[0 0 0 0 0]

In [508]:
g = np.random.rand(5)

In [509]:
g

array([0.55705567, 0.97609498, 0.51528003, 0.69007864, 0.84064702])

12. Find the maximum, minimum, and sum of elements in the array [5, 8, 2, 9, 1].

In [511]:
h = np.array([5,8,2,9,1])
print(h)

[5 8 2 9 1]

In [512]:
print(np.max(h))

9

In [513]:
print(np.min(h))

1

In [514]:
print(np.sum(h))

25

13. Get the first 3 elements from the array [10, 20, 30, 40, 50].

In [516]:
array1 = np.array([10,20,30,40,50])
print(array1)

[10 20 30 40 50]

In [517]:
array1[:3]

array([10, 20, 30])

# **Matrix operations**

In [519]:
import numpy as np

In [520]:
a = np.array([[3,4],[5,6]]) # matrix 1
b = np.array([[10,12],[3,6]]) # matrix 2
print(a)
print(b)

[[3 4]
 [5 6]]
[[10 12]
 [ 3  6]]

In [521]:
print(a + b) # addition

[[13 16]
 [ 8 12]]

In [522]:
print(a - b) # subtraction

[[-7 -8]
 [ 2  0]]

In [523]:
print(a * b) # multiplication

[[30 48]
 [15 36]]

In [524]:
print(np.dot(a,b)) # matrix dot product

[[42 60]
 [68 96]]

In [525]:
print(a.T) # transpose of a

[[3 5]
 [4 6]]

In [526]:
print(b.T) # transpose of b

[[10  3]
 [12  6]]

In [527]:
from numpy.linalg import det # important to import if using determinant
print(det(a)) # matrix determinant

-2.0000000000000004

In [528]:
# dot product of matrix and vector
A = np.array([[1,3],[4,5]]) # 2D array
V = np.array([2,3]) # 1D array

print('Matrix A is: \n',A)
print('Vector V is: \n',V)

print('Dot product is : \n',np.dot(A,V))

Matrix A is:
 [[1 3]
 [4 5]]
Vector V is:
 [2 3]
Dot product is :
 [11 23]

**Random Sampling** : randomly picks values from a given array

In [530]:
c = np.array([1,2,3,4,5,6,7,8,9,10])
d = np.random.choice(c,size = 5)
print(d)

e = np.array([[3,4,5],[6,7,8]])
f = np.random.choice(e.flatten(),size = 5,replace = False) # flatten() - converts 2d array in 1d and replace = False will not repeat any value
print(f)

# .shape[] selects row randomly
r = np.random.choice(e.shape[0], size = 2, replace = False) 
print(r)

# randomly selects column
col = np.random.choice(e.shape[1], size = 2, replace = False)
print(e[:,col])
print(e[r])

[5 3 3 7 6]
[3 8 6 4 7]
[1 0]
[[4 3]
 [7 6]]
[[6 7 8]
 [3 4 5]]

**Random shuffling** - change array elements positions randomly

In [532]:
g = np.array([2,4,6,8,10])
print(g)
np.random.shuffle(g)
print(g)

# random shuffling on 2d array
h = np.array([[2,4,6],[1,2,3],[7,8,9]])
print(h)
np.random.shuffle(h)
print(h)

[ 2  4  6  8 10]
[ 4  6  2 10  8]
[[2 4 6]
 [1 2 3]
 [7 8 9]]
[[1 2 3]
 [2 4 6]
 [7 8 9]]

**Comparison in array**

In [534]:
i = np.array([1,2,3])
j = np.array([4,5,6])
print(i == j)
print(i != j)
print(i >= j)
print(i <= j)
print(i > j)
print(i < j)

[False False False]
[ True  True  True]
[False False False]
[ True  True  True]
[False False False]
[ True  True  True]

# Assignment 3

1. Given two arrays add , subtract , multiply them element - wise

In [537]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print(a+b)
print(a-b)
print(a*b)

[5 7 9]
[-3 -3 -3]
[ 4 10 18]

2. Create two 22 NumPy arrays and perform matrix addition.

In [539]:
matrix1 = np.array([[12,10],[6,9]])
matrix2 = np.array([[4,67],[10,31]])
print(matrix1)
print(matrix2)
print(matrix1 + matrix2)

[[12 10]
 [ 6  9]]
[[ 4 67]
 [10 31]]
[[16 77]
 [16 40]]

3. Create a 23 matrix and a 32 matrix, then perform matrix multiplication using NumPy.

In [541]:
a = np.array([[1,2,3],[4,5,6]])
b = np.array([[1,2],[6,5],[9,1]])
print(a)
print(b)

[[1 2 3]
 [4 5 6]]
[[1 2]
 [6 5]
 [9 1]]

In [542]:
print(np.dot(a,b))

[[40 15]
 [88 39]]

4. Create two 33 matrices and subtract the second from the first.

In [544]:
a = np.array([[[1,34,21],[56,88,10]]])
b = np.array([[[36,12,18],[56,43,21]]])
print(a)
print(b)

[[[ 1 34 21]
  [56 88 10]]]
[[[36 12 18]
  [56 43 21]]]

In [545]:
print(a-b)

[[[-35  22   3]
  [  0  45 -11]]]

5. Create a 1D array with values from 10 to 20. Randomly pick 3 elements without replacement.

In [547]:
arr = np.arange(10,20)
print(arr)

[10 11 12 13 14 15 16 17 18 19]

In [548]:
r = np.random.choice(arr,size = 3,replace = False)

In [549]:
r

array([13, 18, 14])

6. Create a 43 matrix. Randomly select one of the rows.

In [551]:
a = np.array([[1,2,3],[21,4,5],[5,7,6],[32,1,7]])
print(a)
random_row = np.random.choice(a.shape[0],size = 2,replace = False)
print(random_row)

[[ 1  2  3]
 [21  4  5]
 [ 5  7  6]
 [32  1  7]]
[3 0]

7. Create an array with values from 1 to 10 and shuffle it in place.

In [553]:
a = np.arange(1,10)
print(a)
np.random.shuffle(a)
print(a)

[1 2 3 4 5 6 7 8 9]
[7 6 1 9 5 4 2 8 3]

8. Create two 22 matrices and return a boolean matrix where the first is greater than the second.

In [555]:
m1 = ([[1,2],[4,5]])
m2 = ([[67,1],[8,10]])
print(m1 > m2)

False

9. Create a 33 matrix with random integers (020). Count how many elements are greater than 10.

In [557]:
m = np.random.randint(0,20,(3,3))
print(m)

[[ 7 10 17]
 [ 9 18  7]
 [19  3  7]]

In [558]:
print(m > 10)

[[False False  True]
 [False  True False]
 [ True False False]]

10. Convert a 2D array to a 1D array (flatten it).

In [560]:
a = np.array([[1,2],[21,4],[5,7],[32,1]])
print(a)
b = np.random.choice(a.flatten(),size = 8)
print(b)

[[ 1  2]
 [21  4]
 [ 5  7]
 [32  1]]
[ 7  5  1  1 21  2 21 32]

# Permutation
- **np.random.permutation** - shuffles the elements of the given range or array Returns a new order
- shuffles the elements of a sequence (array or range) to return a new order.
- Doesn't change the original elements.

- **Algorithm** used by numpy for permutation is
  - **Fisher-yates** - for generating random numbers it uses MT19937


- np.random.permutation() returns a re-arranged array (it does not affect the original array)


- **difference between shuffle and permutation in numpy**
1. **In-place modification** - *np.random.shuffle* modifies the original array while *np.random.permutation* returns a new array
2. **Return value** - *np.random.shuffle* returns None while *np.random.permutation* returns the shuffled array
3. **original array** - *np.random.shuffle* changes the original array while *np.random.permutation* leaves it unchanged
4. **usage** - use *np.random.shuffle* for modifying the single array while *np.random.permutation* use for generating multiple shuffled versions

**Shuffling columns in numpy**
- we use permutation() to shuffle columns in numpy

In [562]:
np.random.permutation(15) # generates elements in the given range and shuffles them

array([14,  0, 11,  4,  6,  5,  2, 12,  7, 10,  9,  1, 13,  8,  3])

In [563]:
a = np.array([12,1,32,12,43,11,54,21])
np.random.permutation(a)

array([54, 12,  1, 12, 21, 11, 32, 43])

In [564]:
a = np.array([[1,2,3],
             [4,5,6],
              [7,8,9]])
print(a)

# to shuffle columns use np.random.permutation
col_shuffle = a[:,np.random.permutation(a.shape[1])]
print(col_shuffle)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[3 1 2]
 [6 4 5]
 [9 7 8]]

**np.cumsum()** -  will add first element and next element till last element will print it

In [566]:
a = np.array([2,4,6,8,10])
print(a)
np.cumsum(a) 

b = np.array([[1,2,3],
             [4,5,6],
              [7,8,9]])
print(np.cumsum(b)) # returns flattened array

print(np.cumsum(b,axis=0)) # columnwise addition
print(np.cumsum(b,axis=1)) # row wise addition

[ 2  4  6  8 10]
[ 1  3  6 10 15 21 28 36 45]
[[ 1  2  3]
 [ 5  7  9]
 [12 15 18]]
[[ 1  3  6]
 [ 4  9 15]
 [ 7 15 24]]

**np.cumprod** - cumulative product

In [568]:
a = np.array([2,4,6,8,10])
print(a)
np.cumprod(a)

[ 2  4  6  8 10]

array([   2,    8,   48,  384, 3840])

In [569]:
b = np.array([[1,2,3],
             [4,5,6],
              [7,8,9]])
print(np.cumprod(b))

print(np.cumprod(b,axis=1)) # row wise multiplication

print(np.cumprod(b,axis=0)) # column wise multiplication

[     1      2      6     24    120    720   5040  40320 362880]
[[  1   2   6]
 [  4  20 120]
 [  7  56 504]]
[[  1   2   3]
 [  4  10  18]
 [ 28  80 162]]

# logical conditions in numpy

In [571]:
a = np.array([1,2,3,4,5,6])
print(np.logical_and(a>2,a<10)) # returns true only if both the conditions are true
print(np.logical_or(a>2,a<10)) # returns true even if one condition is true
print(np.logical_not(a>2)) # returns the inverse output if true -  it will return false, if false it will return true

[False False  True  True  True  True]
[ True  True  True  True  True  True]
[ True  True False False False False]

In [572]:
np.any(a>5) # returns true only if any element meet the specified condition

True

In [573]:
np.all(a<10) # returns true only if all the elements meet the specified condition

True

**filtering data**
- **&** - works same as logical but instead of returning boolean values it returns real values
- **|** - works same as logical but instead of returning boolean values it returns real values

In [575]:
print(a[(a<10) & (a>3)]) # returns the elements that meets both the specified conditions

[4 5 6]

In [576]:
print(a[(a<10) | (a>3)]) # returns the element that meets either one of the specified condition

[1 2 3 4 5 6]

In [577]:
print(a[~(a>5)]) # returns the elements which meets the opposite condition of the specified condition

[1 2 3 4 5]

In [578]:
print(np.where(a>3)) # returns the indice / index of the elements which meet the specified condition

(array([3, 4, 5], dtype=int64),)

In [579]:
d = np.array([10,20,30,40,50])
e = np.array([25,65,32,76,88])

np.where(d > 20, d ,e) # returns the elements based on the condition and the given arrays

array([25, 65, 30, 40, 50])

**statistical methods in array**

In [581]:
a = np.array([2,4,6,7,9]) # for odd number of elements in array it returns the middle element
print(np.median(a))

a = np.array([2,4,6,7,9,10]) # for even number of elements in array it return the average of middle elements
print(np.median(a))

6.0
6.5

In [582]:
c = np.array([[2,4,5],[6,7,8]])
print(np.median(c))
print(c)
print(np.median(c,axis=1)) # returns median of each row
print(np.median(c,axis=0)) # returns median of each column

5.5
[[2 4 5]
 [6 7 8]]
[4. 7.]
[4.  5.5 6.5]

In [583]:
# np.percentile()

a = np.array([1,2,3,4,5,6,7,8])
print(np.percentile(a,25))
print(np.percentile(a,30))

2.75
3.1

In [584]:
# np.quartile
print(np.quantile(a,0.25))
print(np.quantile(a,0.50))
print(np.quantile(a,0.75))

2.75
4.5
6.25

In [585]:
c = np.array([[2,4,5],[6,7,8]])
print('using percentile')
print(np.percentile(c,25))
print(np.percentile(c,50))
print(np.percentile(c,75))
print('using quantile')
print(np.quantile(c,0.25))
print(np.quantile(c,0.50))
print(np.quantile(c,0.75))

print('using percentile')
print('for row')
print(np.percentile(c,25,axis=1))
print(np.percentile(c,50,axis=1))
print(np.percentile(c,75,axis=1))

print('for column')
print(np.percentile(c,25,axis=0))
print(np.percentile(c,50,axis=0))
print(np.percentile(c,75,axis=0))
print('using quantile')
print('for row')
print(np.quantile(c,0.25,axis=1))
print(np.quantile(c,0.50,axis=1))
print(np.quantile(c,0.75,axis=1))
print('for column')
print(np.quantile(c,0.25,axis=0))
print(np.quantile(c,0.50,axis=0))
print(np.quantile(c,0.75,axis=0))

using percentile
4.25
5.5
6.75
using quantile
4.25
5.5
6.75
using percentile
for row
[3.  6.5]
[4. 7.]
[4.5 7.5]
for column
[3.   4.75 5.75]
[4.  5.5 6.5]
[5.   6.25 7.25]
using quantile
for row
[3.  6.5]
[4. 7.]
[4.5 7.5]
for column
[3.   4.75 5.75]
[4.  5.5 6.5]
[5.   6.25 7.25]

In [586]:
# np.var() - dispersion/spread of the data points

print(np.var(a))
print(np.var(c,axis=1))
print(np.var(c,axis=0))
print(np.std(c))

5.25
[1.55555556 0.66666667]
[4.   2.25 2.25]
1.9720265943665387

1. Given arr = np.array([1, 2, 3, 4]),shuffle the array without modifying the original.

In [589]:
arr = np.array([1,2,3,4])
print(arr)
print(np.random.permutation(arr))

[1 2 3 4]
[3 4 2 1]

2. Write a program to:
- Create an array of numbers from 1 to 10.
- Generate a new array that is a randomly permuted version of the original.
- Print both arrays to show that the original is unchanged.

In [591]:
# create array of numbers between 1 to 10
a = np.arange(1,10)
arr = np.random.permutation(a)
print('unchanged array = ',a)
print('shuffled array',arr)

unchanged array =  [1 2 3 4 5 6 7 8 9]
shuffled array [8 2 4 5 1 7 3 9 6]

3. Write a program that:
- Takes a 1D NumPy array of positive integers.
- Calculates and prints:
- The cumulative sum (np.cumsum)
- The cumulative product (np.cumprod)

In [593]:
a = np.array([11,23,14,23,21,6,4,8,1])
print(a)
print('cumulative sum of array = ',np.cumsum(a))
print('cumulative product of array = ',np.cumprod(a))

[11 23 14 23 21  6  4  8  1]
cumulative sum of array =  [ 11  34  48  71  92  98 102 110 111]
cumulative product of array =  [       11       253      3542     81466   1710786  10264716  41058864
 328470912 328470912]

4. Take a 3D array, Write a program to compute:
- Cumulative sum along axis 0
- Cumulative product along axis 1

In [595]:
a = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
print(a)
print('cumulative sum along axis 0 = ',np.cumsum(a,axis = 0))
print('cumulative product along axis 1 = ',np.cumprod(a,axis = 1))

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]
cumulative sum along axis 0 =  [[[1 2 3]
  [4 5 6]
  [7 8 9]]]
cumulative product along axis 1 =  [[[  1   2   3]
  [  4  10  18]
  [ 28  80 162]]]

5. Take an array of student scores and Write a program to:
- Print all scores greater than 60 and less than 85.
- Replace all scores less than 50 with 0 using logical indexing.

In [597]:
arr = np.array([67,60,72,66,34,21,98])
print(arr[(arr < 85) & (arr > 60 )])

[67 72 66]

In [603]:
arr[arr < 50] = 0
print('replaced with 0 ',arr)

replaced with 0  [67 60 72 66  0  0 98]

6. Take an array a = [12,15,16,22,21,35,65,70,85,100,40]. Write a program to:
- Compute the median
- Compute the 25th, 50th, and 75th percentiles
- Compute the 0.1, 0.5, and 0.9 quantiles

In [612]:
a = np.array([12,15,16,22,21,35,65,70,85,100,40])
print(a)
print('median of given array = ',np.median(a))
print('percentile : ')
print('25th percentile = ',np.percentile(a,25))
print('50th percentile = ',np.percentile(a,50))
print('75th percentile = ',np.percentile(a,75))
print('Quantiles : ')
print(np.quantile(a,0.1))
print(np.quantile(a,0.5))
print(np.quantile(a,0.9))

[ 12  15  16  22  21  35  65  70  85 100  40]
median of given array =  35.0
percentile :
25th percentile =  18.5
50th percentile =  35.0
75th percentile =  67.5
Quantiles :
15.0
35.0
85.0